@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/*  COURT  */
.container {
  width: 100vw;
  height: 100vh;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}

main {
  position: relative;
}

.arc-wrapper {
  position: absolute;
  top: 200px;
  left: -145px;
  width: 400px;
  height: 20px;
  animation: arc 2.5s both;
  animation-play-state: paused;
  z-index: 1;
}

.shuttlecock {
  width: 50px;
  transform: rotate(-20deg);
  animation: fly 2.5s both, disappear 0.5s 2.5s forwards;
  animation-play-state: paused;
  position: relative;
}

.golden-arc {
  position: absolute;
  top: 18px;
  left: -26px;
  height: 100px;
  width: 20px;
  background: rgb(242, 242, 242);
  background: linear-gradient(
    21deg,
    rgba(242, 242, 242, 0) 28%,
    rgba(255, 224, 0, 0.6264880952380952) 100%
  );

  animation: fly-shadow 2.5s both, disappear 0.5s 2.5s forwards;
  animation-play-state: paused;
  z-index: -1;
}

/* .arc-wrapper::after {
  content: "";
  position: absolute;
  top: 18px;
  left: -26px;
  height: 100px;
  width: 20px;
  background: rgb(242, 242, 242);
  background: linear-gradient(
    21deg,
    rgba(242, 242, 242, 0) 28%,
    rgba(255, 224, 0, 0.6264880952380952) 100%
  );

  animation: fly-shadow 2.5s both, disappear 0.5s 2.5s forwards;
  animation-play-state: paused;
  z-index: -1;
} */

.court {
  position: relative;
  min-width: 600px;
  height: 500px;
  background-color: rgb(48, 156, 102);
  overflow: hidden;
  transform-origin: center;
}

.court.is-flipped {
  animation: flip 5s both;
  animation-delay: 3s;
  animation-play-state: paused;
}

.drop-point {
  position: absolute;
  top: 155px;
  left: 275px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  animation: emerge 1s both;
  animation-delay: 2.1s;
  animation-play-state: paused;
}

.court__lines {
  position: relative;
}

.court__lines .horizontal-line {
  position: absolute;
  top: 150px;
  height: 20px;
  width: 100%;
  background-color: #fff;
}
.court__lines .vertical-line {
  position: absolute;
  top: 440px;
  left: -100px;
  height: 20px;
  width: 100%;
  background-color: #fff;
  transform: rotate(90deg);
}

.court__result-card {
  position: absolute;
  top: 300px;
  left: 250px;
  display: flex;
  flex-direction: column;
  width: 190px;
  text-align: center;
  opacity: 0;
  animation: emerge 2s 4.8s forwards;
  animation-play-state: paused;
}

.court-number {
  background-color: rgb(22, 20, 38);
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
.court-number > span {
  font-size: 25px;
}

.result {
  background-color: rgb(240, 240, 240);
  color: rgb(22, 20, 38);
  font-size: 20px;
  font-weight: 400;
}
.result > span {
  font-size: 25px;
}

@keyframes flip {
  from {
    transform: rotateX(80deg);
  }

  70% {
    transform: rotateX(0deg) scale(1.1);
  }

  to {
    transform: rotateX(0deg) scale(3);
  }
}

@keyframes emerge {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes arc {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(185deg);
    width: 450px;
  }
}

@keyframes fly {
  from {
    transform: scale(1) rotate(-20deg);
  }
  to {
    transform: scale(0.5) rotate(-70deg);
  }
}

@keyframes fly-shadow {
  from {
    transform: scale(1) rotate(38deg);
    left: -25px;
  }
  to {
    transform: scale(0.5) rotate(-9deg);
    left: 18px;
    top: 3px;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*  MODAL  */
.modal-wrapper:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.opened:before {
  display: block;
}

.opened .modal-dialog {
  transform: translate(0, 0);
  top: 40%;
}
.modal-dialog {
  background: #fefefe;
  border: #333333 solid 0px;
  border-radius: 5px;
  margin-left: -200px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  width: 360px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -500%);
  transition: transform 0.3s ease-out;
}

.modal-body {
  padding: 20px;
}

.modal-body > button {
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  border-radius: 5px;
  border-color: #bbb;
}

.modal-body > p {
  margin-top: 5px;
  font-size: 13px;
}
